[submodule "bonfire/themes/admin/js/editors/xinha/plugins/MootoolsFileManager/mootools-filemanager"]
	path = bonfire/themes/admin/js/editors/xinha/plugins/MootoolsFileManager/mootools-filemanager
	url = git://github.com/cpojer/mootools-filemanager.git
