body {
	background: #ceceaf url(images/background2.png) 0 1px repeat-x;
}


#about_content h4 {
	color:#61380B;
}

#about_wrap {
	font: normal 13pt/16pt Suns-serif;
}

#about_head {
	width: 685px;
	background: #bb3900;
	text-align: left;
	color: #ffffff;
	font: normal 1.2em Times,Arial;
	padding-left: 15px;
	margin-top: 15px;
}

#about_wrap img {
	float: right;
}


#about_content {
	padding-left: 5px;
}

